{% extends 'magazine_header.jinja' %}
{% block head_extens %}
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap.min.js" crossorigin="anonymous"></script>
{% endblock %}
{% block mainjs %}
 $(document).ready(function() {
        // Setup - add a text input to each footer cell
            $('#commod1 tfoot th').each( function () {
                    var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        } );

        // DataTable
        var table = $('#commod1').DataTable({
            initComplete: function () {
                // Apply the search
                this.api().columns().every( function () {
                    var that = this;

                    $( 'input', this.footer() ).on( 'keyup change clear', function () {
                        if ( that.search() !== this.value ) {
                            that
                            .search( this.value , true, true, true)
                            .draw();
                        }
                    } );
                } );
            }
        });
    } );
{% endblock %}
{% block content %}
<h4>Commodity: {{commod_name}} ({{commod_number}})</h4>
<hr/>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-2"><strong>Highest Price</strong></div>
        <div class="col-sm-offset-1 col-sm-2">{{commod_high}}</div>
        <div class="col-sm-offset-1 col-sm-2"><strong>Lowest Price</strong></div>
        <div class="col-sm-offset-1 col-sm-2">{{commod_low}}</div>
    </div>
    <div class="row">
        <div class="col-sm-offset-4 col-sm-2"><strong>Largest Difference:</strong></div>
        <div class="col-sm-offset-1 col-sm-2">{{best_difference}}</div>
    </div>
<hr/>
<table id="commod1" class="table table-striped table-bordered">
    <thead>
        <th>Planet</th>
        <th>Ratio</th>
        <th>Price</th>
    </thead>
    {% for commod in commods %}
        <tr>
            <td>{{commod.market}}</td>
            <td>{{commod.ratio}}</td>
            <td>{{commod.price}}</td>
        </tr>
    {% endfor %}
    <tbody>
    </tbody>
    <tfoot>
        <th>Planet</th>
        <th>Ratio</th>
        <th>Price</th>
    </tfoot>
</table>

{% endblock %}