{% extends 'magazine_header.jinja' %}
{% block head_extens %}
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap.min.js" crossorigin="anonymous"></script>
{% endblock %}
{% block mainjs %}
 $(document).ready(function() {
        // Setup - add a text input to each footer cell
            $('#markets tfoot th').each( function () {
                    var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        } );

        // DataTable
        var table = $('#markets').DataTable({
            initComplete: function () {
                // Apply the search
                this.api().columns().every( function () {
                    var that = this;

                    $( 'input', this.footer() ).on( 'keyup change clear', function () {
                        if ( that.search() !== this.value ) {
                            that
                            .search( this.value , true, true, true)
                            .draw();
                        }
                    } );
                } );
            }
        });
    } );
{% endblock %}
{% block content %}
<div class="row"><h4>Markets</h4></div>
<hr>
<table id="markets" class="table table-striped table-bordered">
    <thead>
        <th>Planet</th>
        <th>Market Name</th>
        <th>Empire</th>
        <th>DB Ref</th>
        <th>Status</th>
        <th>Coords</th>
        <th>Facilities</th>
        <th>Company Tax</th>
        <th>Mission Tax</th>
        <th>Trade Tax</th>
    </thead>
    <tbody>
    {% for object, market_def in markets.items() %}
        <tr>
            <td>{{market_def.object}}</td>
            <td>{{market_def.market}}</td>
            <td>{{market_def.empire}}</td>
            <td>{{market_def.dbref}}</td>
            <td>{{market_def.status}}</td>
            <td>{{market_def.coords}}</td>
            <td>{{market_def.facilities}}</td>
            <td>{{market_def.company_tax}}</td>
            <td>{{market_def.mission_tax}}</td>
            <td>{{market_def.trading_tax}}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <th>Planet</th>
        <th>Market Name</th>
        <th>Empire</th>
        <th>DB Ref</th>
        <th>Status</th>
        <th>Coords</th>
        <th>Facilities</th>
        <th>Company Tax</th>
        <th>Mission Tax</th>
        <th>Trade Tax</th>
    </tfoot>
</table>
{% endblock %}

