{% include 'magazine_header.jinja' %}
<div class="row"><h4>Economic Missions</h4></div>
<hr>
<table id="missions" class="table table-striped table-bordered">
    <thead>
        <th>Mission Number</th>
        <th>Profit</th>
        <th>Source Empire</th>
        <th>Source</th>
        <th>Dest</th>
        <th>Parsecs</th>
        <th>Load</th>
        <th>Commodity</th>
        <th>Expires</th>
    </thead>
    <tbody>
    {% for mission, mission_def in missions.items() %}
        <tr>
            <td>{{mission_def.mission_number}}</td>
            <td>{{mission_def.profit}}</td>
            <td>{{mission_def.empire}}</td>
            <td>{{mission_def.source}}</td>
            <td>{{mission_def.dest}}</td>
            <td>{{mission_def.parsecs}}</td>
            <td>{{mission_def.load}}</td>
            <td>{{mission_def.commod}}</td>
            <td>{{mission_def.time_remaining}}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <th>Mission Number</th>
        <th>Profit</th>
        <th>Source Empire</th>
        <th>Source</th>
        <th>Dest</th>
        <th>Parsecs</th>
        <th>Load</th>
        <th>Commodity</th>
        <th>Expires</th>
    </tfoot>
</table>
{% include 'magazine_footer.jinja' %}
